.cartTab .listCart::-webkit-scrollbar {
  width: 10px;
}

.cartTab {
  background-color: #f2f2f2;
  width: 400px;
  max-width: 100%;
  position: fixed;
  top: 66.8px;
  right: 0;
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  transition: 0.5s;
  overflow: auto;
  right: -400px;
}

body.activeTabCart .cartTab {
  right: 0px;
}

body.activeTabCart .carousel-control-next {
  display: none;
}

@media (max-width: 580px) {
  body.activeTabCart .carousel-control-prev {
    display: none;
  }
}

.btn-close {
  font-size: 20px;
  padding-top: 10px;
  grid-row: 1 / 2;
}

.listCart {
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row: 2 / 3;
  gap: 10px;
  padding-bottom: 10px;
}

#card-item-carrinho {
  background-color: #ffffff;
  border-radius: 10px;
  margin: 0px;
  width: 370px;
  height: 100px;
  padding: 1%;
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
  gap: 5px;
  align-items: center;
}

#imagemPrato {
  height: 90px;
  border-radius: 50%;
  justify-content: center;
  padding: 10px 0px 10px 0px;
  grid-column-start: 1;
  grid-column-end: 2;
}

#card-body {
  padding: 0%;
  align-self: center;
  grid-column-start: 2;
  grid-column-end: 5;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 2;
  width: 100%;
}

#item-title {
  margin: 0;
  color: #47525e;
  font-family: Lato;
  font-size: 20px;
  line-height: 26px;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 100%;
}

#card-price {
  margin: 0;
  color: #47525e;
  font-family: Lato;
  font-size: 24px;
  line-height: 31px;
  grid-row-start: 2;
  grid-row-end: 3;
  width: 100%;
}

#card-quantidade {
  grid-column-start: 5;
  grid-column-end: 7;
  display: grid;
  grid-template-columns: 3;
  grid-template-rows: 1;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
}

.col-1 svg {
  color: #b13a3a;
  cursor: pointer;
}

p.quantidade {
  place-self: center;
  justify-self: center;
  text-align: center;
  margin: 0;
  line-height: 35px;
  height: 0px;
  border-radius: 50%;
  font-size: 35x;
  font-weight: 500;
  height: 35px;
  width: 35px;
  font-family: Lato;
  background-color: #b13a3a;
  color: #ffffff;
  justify-content: center;
  align-items: center;
}

.boxPagamento {
  background-color: #ffffff;
  border-radius: 10px;
  width: 100%;
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
  grid-row: 3 / 4;
}

#formaDePagamento {
  background-color: #ffffff;
  border: 1px solid #8492a6;
  border-radius: 5px;
  width: 350px;
  height: 50px;
}

.total {
  width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px dotted #b13a3a;
  color: #47525e;
  font-family: Lato;
  font-size: 24px;
}

.btn {
  padding: 0;
}

button.checkout {
  background-color: #9a2727;
  border-radius: 5px;
  width: 280px;
  height: 38px;
  color: #ffffff;
  font-family: Lato;
  font-size: 18px;
  padding: 0;
}

.navbar-nav > .nav-item a {
  font-weight: 500;

  transition: ease-in-out 0.2s;
}
