* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,
body {
    width: 100%;
    height: calc(100% - 50px);
}

:root {
    --branco: #f2f2f2;
    --cinza: #e4e4e4;
    --vermelho-claro: #f7dcdc;
    --vermelho-medio: #d74f4f;
    --vermelho-escuro: #b13a3a;
    --vermelho-escuro-2: #750000;
}

::-webkit-scrollbar {
    width: 0.8rem;
}

::-webkit-scrollbar-track {
    background: var(--branco);
}

::-webkit-scrollbar-thumb {
    background-color: var(--vermelho-escuro);
    border: 0.2rem solid var(--branco);
}

.navbar-nav>.nav-item a {
    font-weight: 500;
    transition: ease-in-out 0.2s;
}

.navbar-nav>.nav-item a:hover {
    color: var(--vermelho-medio);
}

.fa-cart-shopping {
    cursor: pointer;
}

.fa-cart-shopping:hover {
    color: var(--vermelho-escuro);
    transition: ease-in-out 0.2s;
}

.container {
    max-width: 100vw;
    background-color: rgba(215, 79, 79, 0.2);
    margin: auto;
    position: fixed;
    top: 66.8px;
    left: 0;
    bottom: 0;
}

.cartTab .listCart::-webkit-scrollbar {
    width: 10px;
}

body.activeTabCart .cartTab {
    right: 0;
}

.cartTab {
    background-color: #f2f2f2;
    width: 400px;
    max-width: 100%;
    position: fixed;
    top: 66.8px;
    right: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    transition: 0.5s;
    right: -400px;
    overflow: auto;
}

.btn-close {
    font-size: 20px;
    padding-top: 10px;
    grid-row: 1 / 2;
}

.listCart {
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-row: 2 / 3;
    gap: 10px;
    padding-bottom: 10px;
}

#card-item-carrinho {
    background-color: #ffffff;
    border-radius: 10px;
    margin: 0px;
    width: 370px;
    height: 100px;
    padding: 1%;
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    gap: 5px;
    align-items: center;
}

#imagemPrato {
    border-radius: 50%;
    justify-content: center;
    padding: 10px 0px 10px 0px;
    grid-column-start: 1;
    grid-column-end: 2;
}

#card-body {
    padding: 0%;
    align-self: center;
    grid-column-start: 2;
    grid-column-end: 5;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 2;
    width: 100%;
}

#card-title {
    margin: 0;
    color: #47525e;
    font-family: Lato;
    font-size: 20px;
    line-height: 26px;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 100%;
}

#card-price {
    margin: 0;
    color: #47525e;
    font-family: Lato;
    font-size: 24px;
    line-height: 31px;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 100%;
}

#card-quantidade {
    grid-column-start: 5;
    grid-column-end: 7;
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 1;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
}

.col-1 svg {
    color: #b13a3a;
    cursor: pointer;
}

p.quantidade {
    place-self: center;
    justify-self: center;
    text-align: center;
    margin: 0;
    line-height: 35px;
    height: 0px;
    border-radius: 50%;
    font-size: 35x;
    font-weight: 500;
    height: 35px;
    width: 35px;
    font-family: Lato;
    background-color: #b13a3a;
    color: #ffffff;
    justify-content: center;
    align-items: center;
}

.boxPagamento {
    background-color: #ffffff;
    border-radius: 10px;
    width: 100%;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
    grid-row: 3 / 4;
}

#formaDePagamento {
    background-color: #ffffff;
    border: 1px solid #8492a6;
    border-radius: 5px;
    width: 350px;
    height: 50px;
}

.total {
    width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px dotted #b13a3a;
    color: #47525e;
    font-family: Lato;
    font-size: 24px;
}

.btn {
    padding: 0;
}

button.checkout {
    background-color: #9a2727;
    border-radius: 5px;
    width: 280px;
    height: 38px;
    color: #ffffff;
    font-family: Lato;
    font-size: 18px;
    padding: 0;
}

.navbar-nav>.nav-item a {
    font-weight: 500;
    transition: ease-in-out 0.2s;
}