* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html, 
body {
  width: 100%;
  height: calc(100% - 50px);
}

:root {
  --branco: #f2f2f2;
  --cinza: #e4e4e4;
  --vermelho-claro: #f7dcdc;
  --vermelho-medio: #d74f4f;
  --vermelho-escuro: #b13a3a;
  --vermelho-escuro-2: #750000;
}

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  background: var(--branco);
}

::-webkit-scrollbar-thumb {
  background-color: var(--vermelho-escuro);
  border: 0.2rem solid var(--branco);
}

.navbar-nav > .nav-item a {
font-weight: 500;
transition: ease-in-out 0.2s;
}

.navbar-nav > .nav-item a:hover {
  color: var(--vermelho-medio);
}

.fa-cart-shopping {
  cursor: pointer;
}

.fa-cart-shopping:hover {
  color: var(--vermelho-escuro);
  transition: ease-in-out 0.2s;
}

/* Seção do Banner */

.banner-section {
  background-color: rgba(215, 79, 79, 0.1);
  /* background-image: url("../img/pedidos/pedidos-banner.jpg"); */
  height: 200px;
}

.banner-text {
  background-color: #B13A3A;
  border-radius: 10px;
  max-width: 605px;
  height: 120px;
}

.banner-text > p {
  color: #F8F8F8;
  font-family: Arvo;
  font-weight: 700;
  font-size: 26px;
}

footer > .container > .nav > .nav-item > .nav-link {
  color: var(--vermelho-medio);
  transition: ease-in-out 0.2s;
}

footer > .container > .nav > .nav-item > .nav-link:hover {
  color: var(--vermelho-escuro);
}

.cardapio-section {
  background-color: rgba(215, 79, 79, 0.2);
}

.filtros-cardapio > li > .active{
  background-color: #B13A3A!important;
}

.filtros-cardapio > li > button:hover {
  color: var(--vermelho-medio);
}

.filtros-cardapio > li > button {
  color: #47525E;
  font-family: Lato;
  font-size: 22px;
}

.filtros-cardapio > li > .active:hover {
  color: #FFF;
}

.search-section {
  width: 300px;
  height: 43px;
}

#search-input[type=text] {
  text-align: center;
}

#search-input::placeholder {
  color: #A6A6A6;
  font-size: 16px;
  text-align: center;
}

.lupa {
  background-color: #B13A3A;
  width: 40px;
  border: none;
  align-items: flex-start;
  color: #FFF;
}


.img-wrapper {
  max-width: 100%;
  height: 17vw;
  display: flex;
  justify-content: center;
}

img {
  max-width: 100%;
  max-height: 100%;
}

@media screen and (min-width:576px) {
  .carousel-inner {
      display: flex;
  }
  
  .carousel-item {
      display: block;
      margin-right: 0;
      flex: 0 0 calc(100%/4);
  }

  .img-wrapper {
      max-width: 100%;
      height: 23vw;
  }

  .carousel-control-prev {
      left: -5%;
  }
  
  .carousel-control-next {
      right: -5%;
  }

  .carousel .carousel-control-prev, 
  .carousel .carousel-control-next {
      background-color: transparent;
  }

  .card img {
      height: 15vw;
      object-fit: cover;
  }
}

.carousel .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23D55' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel .carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23D55' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-inner {
  padding: 1em;
}

.card-div {
  font-family: Lato;
  margin: 0 .5em;
  border-radius: 0;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, .18);
  color: #CD5C5C;
}

.carousel-control-prev, .carousel-control-next {
  width: 6vh;
  height: 6vh;
  background-color: rgba(215, 79, 79, 0.295);
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  opacity: .5;
}

.card-title {
  
  font-size: 22px;
  font-weight: 850;
}

.quantity {
  color: #dc9b9b!important;
}

.dotted_line {
  border-bottom: 1px dotted #B13A3A;
}

.price {
  font-size: 20px;
  font-weight: 850;
}

.fa-circle-minus, .fa-circle-plus {
  cursor: pointer;
}

.status_pedido, .tempo_espera, .preco_total {
  font-weight: 850;
}

.fa-star {
  font-size: 20px;
}
